{% extends 'base.html.twig' %}

{% block main %}


   <div class="section" style="background: white;">
       <div style="max-width: 90%; margin: auto;">
       <!--<div class="container" style="background: white; margin-top: 20px; margin-bottom: 20px;">-->
           <div class="row">
               <div class="col-12">
                   <h2 class="title-important-souligne" style="margin-left: 20px;">Notre Galerie photos</h2>

                       <button class="btn" data-toggle="modal" data-target="#ajout_image">Ajouter une image</button>
                       <p>delete length.id - 14 OU ne pas mettre une limite de 15 et laisser le choix du nombre (suppression manuelle de la 16ème)<br>
                       X = modifier description image | Supprimer image | modifier titre image | modifier lieu</p>

                   <div class="modal fade" id="ajout_image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                       <div class="modal-dialog modal-dialog-centered" role="document">
                           <div class="modal-content">
                               <div class="modal-body">
                                   <form method="post" action="../upload.php" enctype="multipart/form-data">
                                   <p>Ajouter une image</p>
                                       <label for="mon_fichier">Télécharger mon image :</label><br />
                                       <input type="hidden" name="MAX_FILE_SIZE" value="10000000" />
                                       <input type="file" name="mon_fichier" id="mon_fichier" /><br />

                                       <label for="titre">Titre de mon image :</label><br />
                                       <input type="text" name="titre" value="" id="titre" /><br />

                                       <label for="description">Description de l'image (facultatif) :</label><br />
                                       <textarea name="description" id="description" maxlength="255"></textarea><br />

                                       <label for="lieu">Où a été prise l'image ? (facultatif) :</label><br />
                                       <input type="text" name="lieu" value="" id="lieu"/><br />
                                       <input type="submit" name="submit" value="Envoyer" />
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>



                   <div class="grid">
                       <div class="grid-sizer"></div>

                       {% for image in images %}
                           <div class="grid-item {{image.image_size}}">
                               <div class=" round" data-toggle="modal" data-target="#exampleModal{{image.id}}-Admin"></div>
                               <div class="select-image" data-toggle="modal" data-target="#exampleModal{{image.id}}"></div>
                               <img src="{{ image.file }}" />
                           </div>

                           <div class="modal fade" id="exampleModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                               <div class="modal-dialog modal-dialog-centered" role="document" style="text-align: center; height: max-content; max-width: max-content;">
                                   <div class="modal-content" style="background: white; border: none;">
                                       <div class="modal-body" style="padding: 0;">
                                           <h5>{{image.id}}</h5>
                                           <img src="{{ image.file }}" style="width: 100%;">
                                       </div>
                                   </div>
                               </div>
                           </div>

                           <div class="modal fade" id="exampleModal{{image.id}}-Admin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                               <div class="modal-dialog modal-dialog-centered" role="document">
                                   <div class="modal-content">
                                       <form>
                                       <div class="modal-header">
                                           <h5 class="modal-title" id="exampleModalLabel">N°{{image.id}}</h5>
                                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                               <span aria-hidden="true">&times;</span>
                                           </button>
                                       </div>
                                       <div class="modal-body text-center">

                                               <label for="Titre_image">Titre de l'image</label>
                                               <input type="text" id="Titre_image" value="Titre de mon image" style="width: 100%;">

                                               <label for="Description">Description</label>
                                               <textarea id="Description" style="width: 100%;">Description de mon image</textarea>

                                               <label for="Lieu">Lieu</label>
                                               <textarea id="Lieu" style="width: 100%;">Lieu où a été prise ma photo</textarea>

                                       </div>
                                       <div class="modal-footer">
                                           <input class="btn btn-warning" type="submit" value="Modifier">
                                           <input class="btn btn-danger" type="submit" value="Supprimer image">
                                       </div>
                                       </form>
                                   </div>
                               </div>
                           </div>
                       {% endfor %}


                   </div>
               </div>
           </div>
        </div>
   </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}