{% extends 'base.html.twig' %}

{% block main %}


   <div class="section" style="background: white;">
       <div style="max-width: 90%; margin: auto;">
       <!--<div class="container" style="background: white; margin-top: 20px; margin-bottom: 20px;">-->
           <div class="row">
               <div class="col-12">

                       <h2 class="title-important-souligne" style="margin-left: 20px;">Notre Galerie photos</h2>
                   {% if isConnected|default(false)  %}
                       <a class="btn-galerie" data-toggle="modal" data-target="#ajout_image"></a>


                   <div class="modal fade" id="ajout_image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                       <div class="modal-dialog modal-dialog-centered" role="document">
                           <div class="modal-content">
                               <div class="modal-body">
                                   <form method="post" action="../upload.php" enctype="multipart/form-data">
                                   <p>Ajouter une image</p>
                                       <label for="mon_fichier">Télécharger mon image :</label><br />
                                       <input type="hidden" name="MAX_FILE_SIZE" value="10000000" />
                                       <input type="file" name="mon_fichier" id="mon_fichier" required/><br />

                                       <label for="titre">Titre de mon image :</label><br />
                                       <input type="text" name="titre" value="" id="titre" required/><br />

                                       <label for="description">Description de l'image (facultatif) :</label><br />
                                       <textarea name="description" id="description" maxlength="255"></textarea><br />

                                       <label for="lieu">Où a été prise l'image ? (facultatif) :</label><br />
                                       <input type="text" name="lieu" value="" id="lieu"/><br />
                                       <input type="submit" name="submit" value="Envoyer" />
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>

                   {% endif %}


                   <div class="grid">
                       <div class="grid-sizer"></div>

                       {% for image in images %}
                           <div class="grid-item {{image.image_size}}">
                               {% if isConnected|default(false)  %}<div class=" round" data-toggle="modal" data-target="#exampleModal{{image.id}}-Admin"></div>{% endif %}
                               <div class="select-image" data-toggle="modal" data-target="#exampleModal{{image.id}}"></div>
                               <img src="{{ image.file }}" />
                           </div>

                           <div class="modal fade" id="exampleModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                               <div class="modal-dialog modal-dialog-centered" role="document" style="text-align: center; height: max-content; max-width: max-content;">
                                   <div class="modal-content" style="background: white; border: none;">
                                       <div class="modal-body" style="padding: 0;">
                                           <h5>{{image.id}}</h5>
                                           <img src="{{ image.file }}" style="width: 100%;">
                                       </div>
                                   </div>
                               </div>
                           </div>

                           {% if isConnected|default(false)  %}
                           <div class="modal fade" id="exampleModal{{image.id}}-Admin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                               <div class="modal-dialog modal-dialog-centered" role="document">
                                   <div class="modal-content">

                                       <div class="modal-header">
                                           <h5 class="modal-title" id="exampleModalLabel">N°{{image.id}}</h5>
                                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                               <span aria-hidden="true">&times;</span>
                                           </button>
                                       </div>
                                       <div class="modal-body text-center">
                                           <form method="post" action="../edit_image.php">
                                                   <input type="hidden" name="id_image" value="{{ image.id }}">
                                                   <label for="Titre_image">Titre de l'image</label>
                                                   <input type="text" id="Titre_image" name="Titre_image" value="{{ image.name }}" required style="width: 100%;">

                                                   <label for="Description">Description</label>
                                                   <textarea id="Description" name="Description" style="width: 100%;">{{ image.description }}</textarea>

                                                   <label for="Lieu">Lieu</label>
                                                   <textarea id="Lieu" name="Lieu" style="width: 100%;">{{ image.lieu }}</textarea>
                                                   <input class="btn btn-warning" type="submit" value="Modifier">
                                            </form>
                                       </div>
                                       <div class="modal-footer">
                                           <form method="post" action="../delete_image.php">
                                                   <input type="hidden" name="id_image" value="{{ image.id }}">
                                                   <input class="btn btn-danger" type="submit" value="Supprimer l'image">
                                           </form>
                                       </div>

                                   </div>
                               </div>
                           </div>
                           {% endif %}
                       {% endfor %}


                   </div>
               </div>
           </div>
        </div>
   </div>


{% endblock %}