{% extends 'base.html.twig' %}

{% block main %}

    <div class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light title_videos">Nos Videos</h1>
                    <!--<p class="lead">A great starter layout for a landing page</p>-->
                </div>
            </div>
        </div>
    </div>

    <div class="section" style="width: 100%; /*background: white;*/background: linear-gradient(to bottom, white 50%, #424242 100%); padding-bottom: 50px; padding-bottom: 50px;">

        <div class="container" style="position: relative; background: rgba(255,255,255,0.6);">
            <h2 class="title-important-souligne">Grosses vidéos</h2>
            {% if isConnected|default(false)  %}
                <a class="btn-video" data-toggle="modal" data-target="#ajout_video" ></a>

                <div class="modal fade" id="ajout_video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <form method="post" action="../upload_video.php">
                                    <strong>Ajouter une video</strong>
                                    <hr>
                                    <label for="titre">Lien Youtube :</label><br />
                                    <input type="text" name="lien" value="" id="lien" style="width: 100%; margin-bottom: 10px; color: darkorange; font-weight: bold;" required/><br />

                                    <label for="categorie">Choisir la catégorie</label>
                                    <select class="custom-select" id="categorie" name="categorie" style="width: 100%; margin-bottom: 10px;" required>
                                        <option selected>Choisir...</option>
                                        <option value="mini-films">Mini-films</option>
                                        <option value="freestyles">Freestyles</option>
                                        <option value="challenges">Challenges</option>
                                    </select>

                                    <label for="titre">Titre de la vidéo :</label><br />
                                    <input type="text" name="titre" value="" id="titre" placeholder="Facultatif" style="width: 100%; margin-bottom: 10px;"/><br />

                                    <label for="description">Description :</label><br />
                                    <input type="text" name="description" value="" id="description" placeholder="Facultatif" style="width: 100%; margin-bottom: 10px;"/><br />

                                    <label for="lieu">Lieu :</label><br />
                                    <input type="text" name="lieu" value="" id="lieu" placeholder="Facultatif" style="width: 100%; margin-bottom: 10px;"/><br />

                                    <input class="btn btn-success" type="submit" name="submit" value="Envoyer" style="width: 100%;"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row text-center justify-content-center">
                {% for video in videos_minifilms %}
                <div class="col-lg-4">
                    <iframe src="{{ video.file }}" class="videos-video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% if isConnected|default(false)  %}
                        <div class="videos-modif" data-toggle="modal" data-target="#VideoModal{{ video.id }}"></div>

                        <div class="modal fade" id="VideoModal{{ video.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">

                                    <div class="modal-body text-center">
                                        <form method="post" action="../edit_video.php">
                                            <input type="hidden" name="id_video" value="{{ video.id }}">
                                            <strong>Vidéo n°{{ video.id }}<br></strong>
                                            <hr>
                                            <label for="Titre_video">Titre de la vidéo</label>
                                            <input type="text" id="Titre_video" name="Titre_video" value="{{ video.name }}" placeholder="facultatif" style="width: 100%; margin-bottom: 10px;">

                                            <label for="Lien_video">Lien de la vidéo (iFrame)</label>
                                            <input type="text" id="Lien_video" name="Lien_video" value="{{ video.file }}" placeholder="facultatif" style="width: 100%; margin-bottom: 10px; color: darkorange; font-weight: bold;">

                                            <label for="categorie">Catégorie</label>
                                            <select class="custom-select" id="categorie" name="categorie" style="width: 100%; margin-bottom: 10px;" required>
                                                <option selected value="mini-films">Mini-films</option>
                                                <option value="freestyles">Freestyles</option>
                                                <option value="challenges">Challenges</option>
                                            </select>

                                            <label for="Description">Description</label>
                                            <textarea id="Description" name="Description" placeholder="facultatif" style="width: 100%; margin-bottom: 10px;">{{ video.description }}</textarea>

                                            <label for="Lieu">Lieu</label>
                                            <textarea id="Lieu" name="Lieu" placeholder="facultatif" style="width: 100%; margin-bottom: 10px;">{{ video.lieu }}</textarea>
                                            <input class="btn btn-warning" type="submit" value="Modifier">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="../delete_video.php">
                                            <input type="hidden" name="id_video" value="{{ video.id }}">
                                            <input class="btn btn-danger" type="submit" value="Supprimer la vidéo">
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="col-12 text-right" style="margin-top: -30px;">
                        <a class=" text-voir-plus" href="#" target="_blank">Voir plus...</a>
                </div>
            </div>

            <hr>
            <h2 class="title-important-souligne" style="margin-top: -30px;">Freestyles</h2>
            <div class="row text-center justify-content-center">
                {% for video in videos_freestyles %}
                <div class="col-lg-4">
                    <iframe src="{{ video.file }}" class="videos-video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% if isConnected|default(false)  %}
                        <div class="videos-modif" data-toggle="modal" data-target="#VideoModal{{ video.id }}"></div>

                        <div class="modal fade" id="VideoModal{{ video.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">

                                    <div class="modal-body text-center">
                                        <form method="post" action="../edit_video.php">
                                            <input type="hidden" name="id_video" value="{{ video.id }}">
                                            <strong>Vidéo n°{{ video.id }}<br></strong>
                                            <hr>
                                            <label for="Titre_video">Titre de la vidéo</label>
                                            <input type="text" id="Titre_video" name="Titre_video" value="{{ video.name }}" placeholder="facultatif" style="width: 100%; margin-bottom: 10px;">

                                            <label for="Lien_video">Lien de la vidéo (iFrame)</label>
                                            <input type="text" id="Lien_video" name="Lien_video" value="{{ video.file }}" placeholder="facultatif" style="width: 100%; margin-bottom: 10px; color: darkorange; font-weight: bold;">

                                            <label for="categorie">Catégorie</label>
                                            <select class="custom-select" id="categorie" name="categorie" style="width: 100%; margin-bottom: 10px;" required>
                                                <option value="mini-films">Mini-films</option>
                                                <option selected value="freestyles">Freestyles</option>
                                                <option value="challenges">Challenges</option>
                                            </select>

                                            <label for="Description">Description</label>
                                            <textarea id="Description" name="Description" placeholder="facultatif" style="width: 100%; margin-bottom: 10px;">{{ video.description }}</textarea>

                                            <label for="Lieu">Lieu</label>
                                            <textarea id="Lieu" name="Lieu" placeholder="facultatif" style="width: 100%; margin-bottom: 10px;">{{ video.lieu }}</textarea>
                                            <input class="btn btn-warning" type="submit" value="Modifier">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="../delete_video.php">
                                            <input type="hidden" name="id_video" value="{{ video.id }}">
                                            <input class="btn btn-danger" type="submit" value="Supprimer la vidéo">
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
                {% endfor %}
                <div class="col-12 text-right" style="margin-top: -30px;">
                    <a class=" text-voir-plus" href="https://www.youtube.com/channel/UCfWmjCbQp5ngqIWx-78GaRg/playlists" target="_blank">Voir plus...</a>
                </div>
            </div>
            <hr>
            <h2 class="title-important-souligne" style="margin-top: -30px;">Challenges</h2>
            <div class="row text-center justify-content-center">
                {% for video in videos_challenges %}
                <div class="col-lg-4">
                    <iframe src="{{ video.file }}" class="videos-video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% if isConnected|default(false)  %}
                        <div class="videos-modif" data-toggle="modal" data-target="#VideoModal{{ video.id }}"></div>

                        <div class="modal fade" id="VideoModal{{ video.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">

                                    <div class="modal-body text-center">
                                        <form method="post" action="../edit_video.php">
                                            <input type="hidden" name="id_video" value="{{ video.id }}">
                                            <strong>Vidéo n°{{ video.id }}<br></strong>
                                            <hr>
                                            <label for="Titre_video">Titre de la vidéo</label>
                                            <input type="text" id="Titre_video" name="Titre_video" value="{{ video.name }}" placeholder="facultatif" style="width: 100%; margin-bottom: 10px;">

                                            <label for="Lien_video">Lien de la vidéo (iFrame)</label>
                                            <input type="text" id="Lien_video" name="Lien_video" value="{{ video.file }}" placeholder="facultatif" style="width: 100%; margin-bottom: 10px; color: darkorange; font-weight: bold;">

                                            <label for="categorie">Catégorie</label>
                                            <select class="custom-select" id="categorie" name="categorie" style="width: 100%; margin-bottom: 10px;" required>
                                                <option value="mini-films">Mini-films</option>
                                                <option value="freestyles">Freestyles</option>
                                                <option selected value="challenges">Challenges</option>
                                            </select>

                                            <label for="Description">Description</label>
                                            <textarea id="Description" name="Description" placeholder="facultatif" style="width: 100%; margin-bottom: 10px;">{{ video.description }}</textarea>

                                            <label for="Lieu">Lieu</label>
                                            <textarea id="Lieu" name="Lieu" placeholder="facultatif" style="width: 100%; margin-bottom: 10px;">{{ video.lieu }}</textarea>
                                            <input class="btn btn-warning" type="submit" value="Modifier">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="../delete_video.php">
                                            <input type="hidden" name="id_video" value="{{ video.id }}">
                                            <input class="btn btn-danger" type="submit" value="Supprimer la vidéo">
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="col-12 text-right" style="margin-top: -30px;">
                    <a class=" text-voir-plus" href="#" target="_blank">Voir plus...</a>
                </div>
            </div>
        </div>

    </div>

    <nav class="navbar d-flex nav-foot" style="z-index: 2; background: #424242 !important; padding-top: 30px;">
        <div class="mr-auto"><p class="accueil-footer-texte">©PileouFaceProject | <a class="navbar-brand" data-toggle="modal" data-target="#exampleModal2" href="#">Mention légales</a></p></div>
        <div class="row">
            <a href="https://www.instagram.com/pileoufaceproject/" target="_blank"><div class="accueil-icone-insta"></div> </a>
            <a href="https://www.facebook.com/pileoufaceproject/" target="_blank"><div class="accueil-icone-facebook"></div> </a>
            <a href="#"><div class="accueil-icone-video"></div> </a>
        </div>
    </nav>

    <!-- Mentions légales -->

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mentions Légales</h5>
                </div>
                <div class="modal-body text-center">
                    <div class="img-mentions-legales mx-auto "></div>
                    <p style="font-size: 1rem; margin-top: 10px; margin-bottom: -5px; ">Ce site a été réalisé par <a href="https://www.timothee-corrado.com" target="_blank"><h2>Timothée CORRADO</h2></a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn modal-bouton-fermer" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}